body {
    width: 1250px;
    margin: 0 auto;
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
    opacity: 0.9;
}

/*************** HEADER **************/
header {
    height: 69px;
    width: 1243px;
    background-color: black;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    height: 50px;
    width: 185px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 50px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: seashell;
    text-decoration: underline;
    padding: 0 14px;
}

/*************** MISSION SECTION **************/
.mission {
    background-image: url("../images/img-mission-background.jpg");

    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 66px;
    z-index: 1;
}

.mission .title {
    width: 1200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.mission .title h2 {
    width: 100%;
    margin: 10px 0;
}

.mission .title h4 {
    width: 100%;
    margin: 10px 0;
}

/*************** TEA SECTION **************/
.tea {
    width: 1000px;
    margin: 66px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 69px;
}

.tea .title {
    padding: 15px 0;
}

.tea .title h2 {
    width: 100%;
    margin: 30px 0;
}

.tea .title h4 {
    width: 100%;
    margin: 10px 0;
}

.tea .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 200px;
    width: 300px;

}

.tea .container {
    padding: 5px 15px;
}

.caption {
    margin: 10px 0;
}

/*************** LOCATION SECTION **************/
.location {
    height: 570px; /* supposed to be 500px but the cup can't be seen */
    width: 1200px;
    margin: 80px auto 0 auto;
    background-image: url("../images/img-locations-background.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 69px;
    opacity: 1;
}

.location .title {
    width: 100%;
    margin: 0 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;

}

.box {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 0 20px;
}

.location .container {
    width: 100%;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location .main-container {
    height: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
}

/*************** FOOTER **************/
footer {
    height: 255px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 57px;
    right: 3px;
}

footer .container {
    height: 200px;
    width: 100%;
}

.copy {
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
}