body {
    background-color: black;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin: 0 0;
}

/*************** HEADER **************/
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.logo {
    display: flex;
    height: 50px;
    width: 185px;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: underline;
    padding: 0 14px;
    color: seashell;
}




/*************** MISSION SECTION **************/
.mission {
    background-image: url("../images/img-mission-background.jpg");
}















/*************** LOCATION SECTION **************/
.location {
    background-image: url("../images/img-locations-background.jpg");
}